.mainPage {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 168px);
  flex-grow: 1;
  overflow-y: auto;
  background: url('../../assets/jpg/Abstract_Grid.jpg') no-repeat center;
  background-size: cover;

  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    padding: 8px;
  }

  &__title {
    font-size: 42px;
    font-weight: 500;
    text-align: center;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    align-items: center;

    margin: 24px;
  }

  &__add {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
    padding: 8px;
    cursor: pointer;
  }
}

.board-card {
  width: 250px;
  height: 70px;
  border-radius: 10px;
  display: flex;
  position: relative;
  align-items: stretch;
  background: radial-gradient(109.56% 109.56% at 0 -2.94%, hsla(0, 0%, 100%, 0.5) 0, #262637 100%);
  box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
  flex-direction: column;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  padding: 10px;

  & .board-card-button {
    width: 20px;
    height: 20px;
    background: url('../../assets/png/close.png') no-repeat center center;
    background-size: cover;
    cursor: pointer;
    border: none;
  }

  & .card-title-container {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.create-board-component {
  width: 360px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px auto;

  & .css-17vbkzs-MuiFormControl-root-MuiTextField-root {
    margin-top: 0;
    margin-bottom: 0;
  }

  & button {
    width: 80px;
    height: 45px;
    margin-top: 0;
    margin-bottom: 0;
    border: 1px solid #00deb6;
    background: #262637;
    color: #61dafb;
    transition: 1s;
    box-shadow: 2px 2px 6px 0 rgba(3, 11, 18, 0.7);

    & .hover:hover {
      border-color: #61dafb;
      color: #00deb6;
      box-shadow: 4px 4px 8px 0 rgba(2, 189, 214, 0.56);
    }
  }

  & input {
    width: 220px;
  }

  & form {
    margin-top: 0;
    display: flex;
    align-items: center;
  }
}

.wrapper-boards {
  grid-gap: 10px;
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  height: 100%;
  justify-items: center;
  padding: 10px;
  width: 100%;
}
