.columnPage {
  display: flex;
  flex-direction: column;

  padding-top: 24px;

  height: calc(100vh - 168px);
  overflow: hidden;

  &__header {
    font-size: 48px;
    font-weight: 500;
  }

  &__footer {
    display: flex;
    justify-content: center;

    padding-top: 24px;
  }
}

