.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #262637;
  position: sticky;
  top: 0;
  z-index: 2;
  width: 100%;
  flex: 0 0 auto;
  height: 100px;
  box-shadow: 1px 8px 8px 0px rgba(34, 60, 80, 0.2);
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 10px;
}

.nav {
  width: 120px;
  height: 100%;
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: center;
  justify-content: space-evenly;
}

.container-nav-button {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav-container {
  width: 300px;
  height: 100%;
  display: flex;
  align-items: center;
}

.container-link {
  width: 250px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-around;
  margin: 0 3%;
}

.link-profile,
.delete-user {
  transition: 0.5s;
  color: #61dafb;
  text-decoration: none;
  border: none;
  background: no-repeat;
  cursor: pointer;
  font-size: 16px;
}

.link-profile:hover {
  color: #00deb6;
}
.delete-user:hover {
  color: orangered;
}

.logo {
  width: 150px;
  height: 90%;
  background: url('../../assets/jpg/project-manager-logo.jpg') no-repeat center center;
  background-size: cover;
  box-shadow: 4px 4px 8px 0 rgba(2, 189, 214, 0.56);
  cursor: pointer;
  margin: 0 1%;
}

.delete-user {
  border: none;
  background: no-repeat;
  color: #61dafb;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  cursor: pointer;
}

.signUp,
.language,
.login-link,
.registration-link {
  border: 1px solid #00deb6;
  border-radius: 3px;
  padding: 5px;
  cursor: pointer !important;
  transition: 0.5s;
  display: block;
  width: 41px;
  text-align: center;
}

.language {
  background: none;
  color: #61dafb;
}

.signUp > .fas.fa-user,
.signUp > .fas.fa-user-plus {
  margin-right: auto;
  color: #61dafb;
}

.signUp > .fas.fa-user:hover,
.signUp > .fas.fa-user-plus:hover,
.language:hover {
  border-color: #61dafb;
  color: #00deb6;
  box-shadow: 4px 4px 8px 0 rgba(2, 189, 214, 0.56);
}
