.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #262637;
  position: sticky;
  top: 0;
  z-index: 2;
  width: 100%;
  flex: 0 0 auto;
  height: 120px;
  box-shadow: 1px 8px 8px 0px rgba(34, 60, 80, 0.2);
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 10px;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.user__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.nav-container {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}

.container-link {
  width: 250px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-around;
  margin: 0 3%;
}

.link-profile,
.delete-user {
  transition: 0.5s;
  color: #61dafb;
  text-decoration: none;
  border: none;
  background: no-repeat;
  cursor: pointer;
  font-size: 16px;
}

.signUp:hover,
.link-profile:hover {
  color: #00deb6;
}

.delete-user:hover {
  color: orangered;
}

.logo {
  width: 150px;
  height: 90%;
  background: url('../../assets/jpg/project-manager-logo.jpg') no-repeat center center;
  background-size: cover;
  box-shadow: 4px 4px 8px 0 rgba(2, 189, 214, 0.56);
  cursor: pointer;
  margin: 0 1%;
}

.delete-user {
  border: none;
  background: no-repeat;
  color: #61dafb;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  cursor: pointer;
}

.signUp,
.login-link,
.registration-link {
  border: 1px solid #00deb6;
  border-radius: 3px;
  padding: 5px;
  cursor: pointer !important;
  transition: 0.5s;
  display: block;
  text-align: center;
  color: #61dafb;
  text-decoration: none;
}

.nav__text {
  color: inherit;
  margin: 0 5px;
}

.language__container {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
  
}

.language__btn {
  display: flex;
  align-items: center;
  background: none;
  color: #61dafb;
  cursor: pointer;
  padding: 0 10px;
}

.language__btn:hover,
.language__btn[data-active='true'] {
  color: #00deb6;
}

.language__btn[data-active='true'] {
  font-weight: 700;
}

.language__btn-en {
  border-right: 1px solid #00deb6;
}

.signUp > svg,
.signUp > svg {
  margin-right: auto;
  color: inherit;
}

