@media only screen and (min-width: 320px) and (max-width: 1160px) {
  .home-wrapper {
    & .developers-content {
      height: auto;

      & .subheading {
        margin-bottom: 50px;
      }

      & .developers-content-container {
        flex-wrap: wrap;
        flex-direction: initial;

        & .box-wrapper {
          max-width: 550px;
          flex-direction: column;
          align-items: center;
          height: 600px;
          margin: 15px 0;

          & .image-developer {
            width: 400px;
            height: 450px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 520px) {
  .home-wrapper {
    & .about-wrapper {
      background-attachment: inherit;

      & .title-primary-page {
        width: 65%;
      }
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 450px) {
  .logo {
    width: 42px;
    height: 42px;
    align-self: flex-start;
  }
}
