.wrapper-component {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  background: url('../../assets/jpg/Abstract_Grid.jpg') no-repeat center;
  background-size: cover;

  & .container-login-form {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
}

.center {
  justify-content: center;

  & h3 {
    text-align: center;
  }
}
