.board {
  min-width: 200px;
  border: 1px solid rgb(197, 197, 197);
  border-radius: 10px;

  position: relative;

  box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.39);

  padding: 8px;

  cursor: pointer;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
  }

  &__description {
    color: rgb(122, 122, 122);
  }

  &__commands {
    display: flex;
    gap: 4px;
    opacity: 0;
  }

  &:hover &__commands {
    opacity: 1;
  }
}
